<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Diňleýji Gözlegi</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Diňleýjiler</a>
      </li>
      <li class="active">
        <strong>Gözleg</strong>
      </li>
    </ol>
  </div>
</div>
