<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Role Ygtyýarlary Üýtget - <font color="#ff8c00"><%= Role.find_by_id(params[:role_id]).name %></font></h2>
    <ol class="breadcrumb">
      <li>
        <a href="/roles">Role'lar</a>
      </li>
      <li class="active">
        <strong>Ygtyýarlar</strong>
      </li>
    </ol>
  </div>
</div>
