<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Widgets</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index-2.html">Home</a>
      </li>
      <li class="active">
        <strong>Widgets</strong>
      </li>
    </ol>
  </div>
</div>
