<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.4/500.html by HTTrack Website Copier/3.x [XR&CO'2004], Sun, 24 Jan 2016 21:36:45 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GN ULGAMY | 404 Error</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg"><script language="javascript" charset="UTF-8" type="text/javascript"></script>


    <div class="middle-box text-center animated fadeInDown">
        <h2 style="color: red; font-weight: bold">GADAGAN</h2>
        <h3 class="font-bold">ULANYŞ ÇÄKLENDIRILEN</h3>

        <div class="error-desc">
            Bu ulgamyň ulanyjysy bolmazdan ýa-da ulanyjysy bolubam, doly ygtyýar berilmedik ýagdaýynda Size bu resurslary ulanmak gadagan edilýär: <br/>
          <%= link_to "Giriş", :login, :class => "btn btn-primary m-t" %>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.4/500.html by HTTrack Website Copier/3.x [XR&CO'2004], Sun, 24 Jan 2016 21:36:45 GMT -->
</html>
