<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">



      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Final Synagynyň Maglumatlaryny Üýtget</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>





        <div class="ibox-content">
          <h3>
            Final Synagynyň Maglumatlary
          </h3>
          <br>
          <%= render 'form' %>

          <br>

          <%= link_to 'Görkez', @final, :class => "btn btn-outline btn-primary" %> &nbsp;
          <%= link_to 'Yza', finals_path, :class => "btn btn-outline btn-success" %>

        </div>

      </div>
    </div>
  </div>
</div>